*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  background-color: black;
  width: 100%;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: orange;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;  
}


.card p{
  padding: 10px;  
}

.card img{
  width: 140px;
  height: 140px;
  border-radius: 25px;
  object-fit: cover;
}

.card button{
  padding: 10px 0;
  margin-top: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
}