.container{  
  background-color: #fff;
  /* border: 1px solid #8b8b8b; */
  margin: 30px;
  padding: 5px;
  min-height: 330px;
  width: 280px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-shadow: 0 4px 8px rgba(139, 139, 139, 0.1);
}

.top{
  display: flex;  
  padding: 15px;
  align-items: flex-start;
  justify-content: space-between;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}

.top button{
  display: flex; 
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}

.middle{
  margin-bottom: 175px;
  padding: 5px 15px;
}

.cmp-name{
  font-size: 25px;
  font-weight: 600;
}

.cmp-name span{
  font-size: 15px;
  margin-left: 5px;
  color: #8b8b8b;
}

.role{
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.middle button{
  padding: 4px 8px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e6e6e6;
  color: #111;
  font-size: 12px;
  font-weight: 500;
}

.bottom{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #d8d7d7;
}

.pay{
  font-size: 1.1rem;
  font-weight: 800;
}

.place{
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 400;
}

.right button{
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 400;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}