.counter-container {
    text-align: center;
    margin-top: 50px;
    background-color: #3b3a3a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;    
}

#para{
    color: rgb(191, 178, 178);
    /* background-color: #f40606; */
    font-size: 24px;
    margin-bottom: 20px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #92a3b5;
    color: rgb(8, 8, 8);
    transition: background-color 0.3s ease;    
}
.btn:hover {
    background-color: #6b7a8c;
}