*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #605c5c;
  display: flex;
  justify-content: center;
  align-items: center;
}